<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo--{{ user.origin }}--{{user.destination}}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          <!-- -->
      From  {{ user.origin }}   To   {{user.destination}}
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
        
     

         {{user.enrich }}
      
 
   
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

